<div class="fixed inset-x-0 bottom-0 bg-gray-300 p-6 ">
    
    <div class="flex justify-center space-x-2">
        <button (click)="selectOption('activities')" class="z-50 font-bold flex-1 text-3xl  text-black hover:text-red-400 focus:outline-none active:text-red-700 border-2 border-transparent hover:border-red-600 focus:border-red-600">
            <i class="fa-solid fa-sign "></i>
            activities
        </button>
        <button (click)="selectOption('monitors')" class="z-50 font-bold flex-1 text-3xl  text-black hover:text-red-400 focus:outline-none active:text-red-700 border-2 border-transparent hover:border-red-600 focus:border-red-600">
            <i class="fa-solid fa-user "></i>
            monitors
        </button>
    </div>
</div>
<!-- En el template de FooterTabsComponent -->

